@import "tailwindcss";

@font-face {
  font-family: "PT Root UI";
  src:
    url("/fonts/pt-root-ui.woff2") format("woff2"),
    url("/fonts/pt-root-ui.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

@custom-variant ui-closed (&[data-ui~="closed"]);
@custom-variant ui-selected (&[data-ui~="selected"]);

@theme {
  --font-sans: "PT Root UI", system-ui, sans-serif;

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);

  --color-primary-50: var(--color-amber-50);
  --color-primary-100: var(--color-amber-100);
  --color-primary-200: var(--color-amber-200);
  --color-primary-300: var(--color-amber-300);
  --color-primary-400: var(--color-amber-400);
  --color-primary-500: var(--color-amber-500);
  --color-primary-600: var(--color-amber-600);
  --color-primary-700: var(--color-amber-700);
  --color-primary-800: var(--color-amber-800);
  --color-primary-900: var(--color-amber-900);
  --color-primary-950: var(--color-amber-950);

  --animate-load: load 5s ease;

  @keyframes load {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}

@layer components {
  /* Buttons */

  .btn {
    @apply flex h-11 items-center gap-4 rounded-full px-6 font-medium whitespace-nowrap transition-colors hover:cursor-pointer;
  }

  .btn-icon {
    @apply -m-3 flex size-11 items-center justify-center rounded-full transition-all hover:cursor-pointer hover:bg-black/10;
  }

  .btn-primary {
    @apply bg-gray-200 text-black hover:bg-gray-600 hover:text-white disabled:bg-gray-800 disabled:text-gray-600 disabled:hover:bg-gray-800;
  }

  .btn-secondary {
    @apply border border-gray-600 text-white hover:bg-gray-800 disabled:border-gray-800 disabled:text-gray-600 disabled:hover:border-gray-800;
  }

  /* Fields */
  .field-input {
    @apply rounded border-transparent bg-gray-700 p-3 text-start placeholder:font-medium placeholder:text-gray-400 hover:cursor-pointer hover:bg-gray-600 disabled:bg-gray-800 disabled:text-gray-600 disabled:placeholder:text-gray-900;
  }

  /* Typography */
  .title {
    @apply text-2xl font-medium;
  }

  .heading {
    @apply text-lg font-medium;
  }

  .label {
    @apply text-base font-normal;
  }

  .text {
    @apply text-base font-normal;
  }

  .badge {
    @apply rounded-full px-3 py-1 text-sm font-medium whitespace-nowrap;
  }

  .link {
    @apply text-base font-normal underline underline-offset-4 transition-all hover:text-gray-400;
  }
}
